/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --white-color: #fff;
    --black-color: #000;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --main-font: 'Inter-Variable';
    --second-font: 'PressStart2P';
    --card-title-weight: 715;
    --card-text-weight: 410;
    --text-size: 18px;
    --background-gradient: 
    repeating-linear-gradient(
  to right,
  #d3d3d3 0px,
  #d3d3d3 2px,
  transparent 2px,
  transparent 4px
), 
    repeating-linear-gradient(
  to bottom,
  #d3d3d3 0px,
  #d3d3d3 2px,
  transparent 2px,
  transparent 4px
), 
    linear-gradient(
  to bottom,
  #e7e7e7 0%,
  #e7e7e7 0.01%,
  #1a1a1a 100% 
); 
  --content-width: clamp(375px, calc(260.56px + 30.516vw), 700px);
  --logo-size: clamp(49px, calc(43.37px + 1.5023vw), 65px);
  --title-size: clamp(14px, calc(10.83px + 0.8451vw), 23px);
  --header-padding-block: clamp(122px, calc(119.18px + 0.7512vw), 130px);
  --header-padding-inline: clamp(16px, calc(-21.5px + 10vw), 122.5px);
}